mat-toolbar {
    background-color: darkslategray;
    color: burlywood;
    text-align: center;
    height: fit-content;

    padding: 8px;

    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; 
    font-size: 34px; 
    font-style: oblique; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    letter-spacing: 3px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header {
    background-color: antiquewhite;
}

#navigation_seperator {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffcd66;
}

.navbar-brand {
    color: #ffcd66;
    font-size: 15pt;
    padding: 0px;
    margin-bottom: 3px;
}

.navbar-brand:hover {
    color: #ffcd66;
}

#logo_image {
    height: 85px;
    width: 85px;

    display: block;
    margin: auto;
    padding: 10px;
}

#router_container {
    display: block;
    margin: auto;
}

#page_footer {
    margin-top: 30px;
    padding: 7px;
    background-color: darkslategray;
    color: burlywood;

}