<header>
  <img src="assets/images/logo.png" alt="PatriotsSunMedical Logo Image" id="logo_image">

  <mat-toolbar>
    <span>
      Patriots Sun Medical
    </span>
  </mat-toolbar>
  <hr id="navigation_seperator">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <p class="navbar-brand">Site Navigation</p>
      
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/mission">Our Mission</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="staff_portal" href="/list">Patient Visit List</a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link" href="/staff_login">Staff Login</a>
          </li>-->
        </ul>
      </div>


    </nav>
</header>
<main>
  <div id="router_container">
    <router-outlet></router-outlet>
</div>
</main>

<footer id="page_footer">
  <span>
    <p>Disclaimer - PatriotsSunMedical is not an actual medical facility.</p>

  </span>
</footer>

