<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Patient Record</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="First Name" formControlName="fname" #fname>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Last Name" formControlName="lname" #lname>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Insurance Provider" formControlName="insurance" #insurance>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Gender" formControlName="gender" #gender>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="None Specified">Prefer Not To Respond</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Patient Age" formControlName="age" #age>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Patient Weight" formControlName="weight" #weight>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Reason For Visit" formControlName="reason" #reason></textarea>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updatePatient(fname.value, lname.value, insurance.value, gender.value, age.value, weight.value, reason.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
