<div id="homepage_container">

  <h1>Welcome to Patriots Sun Medical Center</h1>
  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis et ante a suscipit. Sed ullamcorper diam a erat tristique dapibus. Nullam ac consequat orci. Praesent maximus, ligula vitae ultrices eleifend, ipsum odio suscipit sapien, in viverra felis velit facilisis nulla. Nulla ultrices urna et arcu luctus, sed sagittis lacus molestie. Sed feugiat nec erat eu pretium. Sed auctor orci sem, sit amet aliquet eros viverra id. Mauris sagittis libero ante. Praesent lorem tortor, mattis ac aliquet et, viverra id orci. Nullam et posuere lectus. Cras efficitur commodo nibh, vitae auctor urna rutrum non. Duis augue est, sagittis sit amet nisl ut, convallis consectetur lorem. Sed sodales nulla felis, vel bibendum metus consectetur in. Integer laoreet tellus nulla, sit amet efficitur metus eleifend vel.
  </p>
  <hr>
  <br>
  <img src="/assets/images/doctors1.jpg" alt="Surgeons" id="surgeon1" width="400">
  
  <br>
  <h2>Wow, such medicine. Cutting-Edge Facilities</h2>

  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Nullam non urna vitae est molestie varius. Donec sodales pretium nibh sit amet luctus. Ut efficitur, est ut hendrerit aliquam, mauris dolor auctor nibh, vitae ultricies nisl est eget lectus. Ut pharetra dui a magna sagittis eleifend sit amet et dolor. Cras purus eros, dictum a elementum a, varius a turpis. Fusce pulvinar a orci eu maximus. Ut suscipit libero lectus, eget euismod enim pretium eu. Suspendisse porta at leo vitae consequat.
  </p>
  <br>
  <hr> <br>
  <img src="/assets/images/veteran1.jpg" alt="Veterans" id="veretan1">

  <h2>Support for the troops</h2>
  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Aenean vehicula ultricies posuere. Quisque pulvinar vel urna eu maximus. Nunc imperdiet ex non diam imperdiet vehicula. Quisque non ante quam. Cras fermentum quam velit, at tincidunt enim vehicula scelerisque. Duis dapibus augue arcu. Proin efficitur vel dui sed consectetur. Donec accumsan cursus tortor, venenatis facilisis erat iaculis sit amet. Nunc id faucibus dolor, sit amet ultricies magna. Aliquam a elementum arcu, sit amet tincidunt nulla. Suspendisse consectetur efficitur dui, sit amet vestibulum libero cursus non. Donec condimentum lorem mollis quam rutrum mollis. 
      Aenean vehicula ultricies posuere. Quisque pulvinar vel urna eu maximus. Nunc imperdiet ex non diam imperdiet vehicula. Quisque non ante quam. Cras fermentum quam velit, at tincidunt enim vehicula scelerisque. Duis dapibus augue arcu. Proin efficitur vel dui sed consectetur. Donec accumsan cursus tortor, venenatis facilisis erat iaculis sit amet. Nunc id faucibus dolor, sit amet ultricies magna. Aliquam a elementum arcu, sit amet tincidunt nulla. Suspendisse consectetur efficitur dui, sit amet vestibulum libero cursus non. Donec condimentum lorem mollis quam rutrum mollis. 
      Aenean vehicula ultricies posuere. Quisque pulvinar vel urna eu maximus. Nunc imperdiet ex non diam imperdiet vehicula. Quisque non ante quam. Cras fermentum quam velit, at tincidunt enim vehicula scelerisque. Duis dapibus augue arcu. Proin efficitur vel dui sed consectetur. Donec accumsan cursus tortor, venenatis facilisis erat iaculis sit amet. Nunc id faucibus dolor, sit amet ultricies magna. Aliquam a elementum arcu, sit amet tincidunt nulla. Suspendisse consectetur efficitur dui, sit amet vestibulum libero cursus non. Donec condimentum lorem mollis quam rutrum mollis. 
      Aenean vehicula ultricies posuere. Quisque pulvinar vel urna eu maximus. Nunc imperdiet ex non diam imperdiet vehicula. Quisque non ante quam. Cras fermentum quam velit, at tincidunt enim vehicula scelerisque. Duis dapibus augue arcu. Proin efficitur vel dui sed consectetur. Donec accumsan cursus tortor, venenatis facilisis erat iaculis sit amet. Nunc id faucibus dolor, sit amet ultricies magna. Aliquam a elementum arcu, sit amet tincidunt nulla. Suspendisse consectetur efficitur dui, sit amet vestibulum libero cursus non. Donec condimentum lorem mollis quam rutrum mollis. 
  </p>
</div>