/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0;
    background-color: #fff;
}

header {
<<<<<<< HEAD
    background-color: #fff;
=======
    background-color: #ffffff;
>>>>>>> 6445e0ced2244130f955fadb074e95d59470789e
}