<div id="service_container">

  <h1>Our Services</h1>
  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis et ante a suscipit. Sed ullamcorper diam a erat tristique dapibus. Nullam ac consequat orci. Praesent maximus, ligula vitae ultrices eleifend, ipsum odio suscipit sapien, in viverra felis velit facilisis nulla. Nulla ultrices urna et arcu luctus, sed sagittis lacus molestie. Sed feugiat nec erat eu pretium. Sed auctor orci sem, sit amet aliquet eros viverra id. Mauris sagittis libero ante. Praesent lorem tortor, mattis ac aliquet et, viverra id orci. Nullam et posuere lectus. Cras efficitur commodo nibh, vitae auctor urna rutrum non. Duis augue est, sagittis sit amet nisl ut, convallis consectetur lorem. Sed sodales nulla felis, vel bibendum metus consectetur in. Integer laoreet tellus nulla, sit amet efficitur metus eleifend vel.
  </p>
  <table>
    <thead><th colspan="2">What services do we provide?</th></thead>
    <tbody>
        <tr>
          <th>Location</th>
          <th>Type of Procedure</th>
        </tr>
        <tr>
          <th>Inpatient</th>
          <td>Cesarean Section, Diagnostic ultrasound, Endoscopy of small intestine, Cardiac catheterizations, Total knee replacement, and many more!</td>
        </tr>
        <tr>
          <th>Outpatient</th>
          <td>Drug & Alcohol Therapy, Physical Rehabilitation</td>
        </tr>
    </tbody>
  </table>
  
</div>